$main-font-size: 16px;
$main-font-color: #1D2530;
$button-font-color: #FFFFFF;
$extra-font-color: #685ED6;
$main-back-color: #f2f7ff80;;
$main-font-family: 'Gilroy', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$menu-font-family: 'Inter', sans-serif;